@model TransferDTO


<section class="page-header" style="background-image: url(/assets/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <h2>Tours with Sidebar</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li><span>Transfer</span></li>
        </ul><!-- /.thm-breadcrumb -->
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="tour-two tour-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="tour-sidebar">
                    <div class="tour-sidebar__search tour-sidebar__single">
                        <h3>Book This Tour</h3>
                        <form asp-action="CustomerApplicationSave" asp-controller="Customer" method="post" class="tour-sidebar__search-form">
                            <input asp-for="Distance" type="hidden" />
                            <input asp-for="FromPlace" type="hidden" />
                            <input asp-for="FromPlaceID" type="hidden" />
                            <input asp-for="ToPlace" type="hidden" />
                            <input asp-for="ToPlaceID" type="hidden" />
                            <input asp-for="PassengersCount" type="hidden" />
                            <input asp-for="Date" type="hidden" />
                            <input asp-for="RoundTripDate" type="hidden" />
                            <input asp-for="Duration" type="hidden" />
                            <input asp-for="VehicleCategoryID" type="hidden" />

                            <div class="input-group">
                                <input asp-for="Name" placeholder="Your Name">
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <input asp-for="Tel" placeholder="Phone"> 
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <input asp-for="FlieghtNo" placeholder="FlieghtNo">
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <textarea asp-for="Message" placeholder="Message"></textarea>
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <button type="submit" class="thm-btn">Book Now</button>
                            </div><!-- /.input-group -->
                        </form>
                    </div><!-- /.tour-sidebar__search -->
                </div><!-- /.tour-sidebar -->
            </div><!-- /.col-lg-4 -->

            <div class="col-lg-4">
                <div class="tour-sidebar">
                    <div class="tour-sidebar__sorter-wrap">

                        <div class="tour-sidebar__sorter-single">
                            <div class="tour-sidebar__sorter-top">
                                <h3>Transfer Summary</h3>
                                <button class="tour-sidebar__sorter-toggler"><i class="fa fa-angle-down"></i></button>
                                <!-- /.tour-sidebar__sorter-toggler -->
                            </div><!-- /.tour-sidebar__sorter-top -->
                            <div class="tour-sidebar__sorter-content">

                                <div class="tour-sidebar__sorter-inputs">
                                    <div class="row">
                                        <div class="col-6">
                                            From
                                        </div>
                                        
                                        <div class="col-6">
                                            @Model.FromPlace
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            TO
                                        </div>

                                        <div class="col-6">
                                            @Model.ToPlace
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            Distance
                                        </div>

                                        <div class="col-6">
                                            @Model.Distance KM
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            Duration
                                        </div>

                                        <div class="col-6">
                                            @Model.Duration
                                        </div>
                                    </div>
                                </div><!-- /.tour-sidebar__sorter-inputs -->
                            </div><!-- /.tour-sidebar__sorter-content -->

                        </div><!-- /.tour-sidebar__sorter-single -->
                        <div class="tour-sidebar__sorter-single">
                            <div class="tour-sidebar__sorter-top">
                                <h3>Duration</h3>
                                <button class="tour-sidebar__sorter-toggler"><i class="fa fa-angle-down"></i></button>
                                <!-- /.tour-sidebar__sorter-toggler -->
                            </div><!-- /.tour-sidebar__sorter-top -->
                            <div class="tour-sidebar__sorter-content">

                                <div class="tour-sidebar__sorter-inputs">
                                    <p>
                                        <input type="checkbox" id="duration-5" name="radio-group">
                                        <label for="duration-5">
                                            0 - 24 hours
                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-4" name="radio-group">
                                        <label for="duration-4">
                                            1 - 2 days

                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-3" name="radio-group">
                                        <label for="duration-3">
                                            2 - 3 days

                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-2" name="radio-group">
                                        <label for="duration-2">
                                            4 - 5 days


                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-1" name="radio-group">
                                        <label for="duration-1">
                                            5 - 10 days
                                        </label>
                                    </p>
                                </div><!-- /.tour-sidebar__sorter-inputs -->
                            </div><!-- /.tour-sidebar__sorter-content -->

                        </div><!-- /.tour-sidebar__sorter-single -->

                    </div><!-- /.tour-sidebar__sorter-wrap -->
                </div><!-- /.tour-sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.tour-two -->