@model TransferDTO


<section class="page-header" style="background-image: url(/assets/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <h2>Tours with Sidebar</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li><span>Transfer</span></li>
        </ul><!-- /.thm-breadcrumb -->
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="tour-two tour-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="tour-sidebar">
                    <div class="tour-sidebar__search tour-sidebar__single">
                        <h3>Book This Tour</h3>
                        <form asp-action="CustomerApplicationSave" asp-controller="Customer" method="post" class="tour-sidebar__search-form">
                            <input asp-for="Distance" type="hidden" />
                            <input asp-for="FromPlace" type="hidden" />
                            <input asp-for="FromPlaceID" type="hidden" />
                            <input asp-for="ToPlace" type="hidden" />
                            <input asp-for="ToPlaceID" type="hidden" />
                            <input asp-for="PassengersCount" type="hidden" />
                            <input asp-for="Date" type="hidden" />
                            <input asp-for="RoundTripDate" type="hidden" />
                            <input asp-for="Duration" type="hidden" />
                            <input asp-for="VehicleCategoryID" type="hidden" />

                            <div class="input-group">
                                <input asp-for="Name" placeholder="Your Name">
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <input asp-for="Tel" placeholder="Phone"> 
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <input asp-for="FlieghtNo" placeholder="FlieghtNo">
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <textarea asp-for="Message" placeholder="Message"></textarea>
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <ul class="tour-one__meta list-unstyled">
                                    @for (int i = 0; i < Model.Services.Count; i++)
                                    {

                                        <li>
                                            <input type="checkbox" id="duration-5" name="radio-group">
                                            <i class="@Model.Services[i].Icon" style="color: #9ca3a9;"></i>  @Model.Services[i].Name - @Model.Services[i].Price $
                                        </li>
                                    }
                                </ul><!-- /.tour-one__meta -->
                            </div><!-- /.input-group -->

                            <div class="input-group">
                                <button type="submit" class="thm-btn">Book Now</button>
                            </div><!-- /.input-group -->
                        </form>
                    </div><!-- /.tour-sidebar__search -->
                </div><!-- /.tour-sidebar -->
            </div><!-- /.col-lg-4 -->

            <partial name="_Sidebar" model="@Model" />

        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.tour-two -->