@{
    Layout = "_LayoutAdmin";

    GridViewModel gridModel = new GridViewModel
        {
            GridId = "VehicleCategory",
            AllowExcelExport = true,
            AllowGrouping = true,
            IsAllowToDelete = false,
            AllowToShowDetails = true,
            Url = "GetVehicleCategoryList",
            UpdateUrl = "SaveVehicleCategory",
            InsertUrl = "SaveVehicleCategory",
            RemoveUrl = "",
            Columns = new()
        {
            new() { Field = "id", ColumnType = GridViewModel.GridColumnType.ID, Width = "100", Visiable = false },
            new() { Field = "name", HeaderText = "Name", Width = "100" },
            new() { Field = "seateCount", HeaderText = "Seate Count", Width = "100" },
            new() { Field = "suitcaseCount", HeaderText = "Suitcase Count", Width = "100" },
            new() { Field = "maxDistance", HeaderText = "Max Distance", Width = "100" },
            new() { Field = "kmPrice", HeaderText = "KM Price", ColumnType = GridViewModel.GridColumnType.DecimalNO, Width = "100" },
            new() { Field = "isActive", HeaderText = "Active", ColumnType = GridViewModel.GridColumnType.Boolean, Width = "100" },
        },
                toolbarList = new List<string>(){
            "ExcelExport"
        },
                commands = new List<object>(){
            new {
                type = "image", buttonOption = new { content = "Image", cssClass = "btn btn-primary" }
            }
        },
    };

    await Html.RenderPartialAsync("_GridView", gridModel);
}
<div class="modal fade" id="exampleModalgrid" tabindex="-1" aria-labelledby="exampleModalgridLabel" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalgridLabel">Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body"></div>
                </div><!--end col-->
            </div><!--end row-->
        </div>
    </div>
</div>

@section Scripts {
    <ejs-scripts></ejs-scripts>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        function commandClick(e) {
            if (e.commandColumn.type === "image") {
                $.get("/admin/Vehicle/_Image?id=" + e.rowData.id, function (result) {
                    $(".modal-body").html(result);
                    $('#exampleModalgrid').modal("show");
                });
            }
        }

        function FormSuccess() {
            Kom.Notify.Success('The registration process has been successfully completed.');
            $('#exampleModalgrid').modal("hide");
        }
    </script>
}

