@model IstanbulLMC.ViewModel.ForgotPass
@{
	ViewData["Title"] = "ForgotPassword";

}



		<div class="container">

			<!-- Sec Title -->
			<h2 style="text-align:center;margin-top:100px;margin-bottom:10px ;color:#c29d59;">Forgot Password</h2>

			@if (TempData["Error"] != null)
			{
				<div class="col-md-12 alert alert-danger">
					<span><b>Sorry!</b> - @TempData["Error"] </span>
				</div>
			}
			else if (TempData["Success"] != null)
			{
				<div class="col-md-12 alert alert-success">
					<span>@TempData["Success"] </span>
				</div>
			}
			else if (TempData["error"] != null)
			{
				<div class="col-md-12 alert alert-danger">
					<span><b>Sorry!</b> - @TempData["error"] </span>
				</div>
			}
			<div class="inner-container">

				<!-- Contact Form -->
				<div class="contact-form">
					<form method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="row clearfix">

							<!-- Form Group -->
							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<label asp-for="Mail">Email *</label>
								<input asp-for="Mail" type="email" placeholder="Email" />
								<span asp-validation-for="Mail" class="text-danger"></span>
							</div>

							<div class="form-group col-lg-3">
								<div class="mb-4">
									<label>Not a user? <a asp-action="Register" asp-controller="Account" class="m-lg-2">Register</a></label>
								</div>
								<button type="submit" class="theme-btn btn-style-one"><span class="txt">Send</span></button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	}
