@model IstanbulLMC.ViewModel.ResetPass

@{
    ViewData["Title"] = "ResetPassword";
}



<div class="container" style="margin:175px;">
    <h2 style="color:#c29d59;text-align:center">ResetPassword</h2>
    <br /><br />
    <form method="post">
        <label class="text-dark h6"> Password</label>
        <input id="password" type="password" class="form-control" asp-for="Pass" />
        <span asp-validation-for="Pass" class="text-danger"></span>
        <br />
        <label class="text-dark h6"> Confirm Password</label>
        <input id="confirmPassword" type="password" class="form-control" asp-for="ConfirmPass" />
        <span asp-validation-for="ConfirmPass" id="confirmPasswordError" class="text-danger"></span>
        <br />
        <button class="btn btn-outline-info">Reset Password</button>
    </form>
</div>
@section Scripts{
    @{

        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function validatePasswords() {
            var newPassword = $("#password").val();
            var confirmPassword = $("#confirmPassword").val();
            var error = "";


            if (newPassword !== confirmPassword) {
                error = "New password and confirm password do not match.";
            }

            // Update the error message for ConfirmPassword
            $("#confirmPasswordError").text(error);

            // Return true if there are no errors, allowing form submission
            return error === "";
        }

        $("#confirmPassword").keyup(function () {
            validatePasswords();
        });
    </script>


}