@using Microsoft.AspNetCore.Identity;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<div class="row">
    <div class="form-group col-md-6">
        <label for="fname" class="control-label">First Name:</label>
        <input type="text" id="fname" class="form-control" disabled value="@UserManager.GetUserAsync(User).Result.firstName" />
    </div>
    <div class="form-group col-md-6">
        <label for="lname" class="control-label">Last Name:</label>
        <input type="text" id="lname" class="form-control" disabled value="@UserManager.GetUserAsync(User).Result.lastName" />
    </div>
</div>
<div class="row">
    <div class="form-group col-md-12">
        <label for="email" class="control-label">Email:</label>
        <input type="email" id="email" class="form-control" disabled value="@UserManager.GetUserAsync(User).Result.Email" />
    </div>
</div>
