@using IstanbulLMC.ViewModel
@model LoginVM;
@using Microsoft.AspNetCore.Mvc.Localization


@if (TempData["success"] != null)
{
	<div class="col-md-12 alert alert-success text-center">
		<span>@TempData["success"] </span>
	</div>
}


		<div class="container">

			<!-- Sec Title -->


			<h2 style="text-align:center;margin-top:100px;margin-bottom:10px ;color:#c29d59;">Sign in</h2>


			@if (TempData["Error"] != null)
			{
				<div class="col-md-12 alert alert-danger">
					<span><b>Sorry!</b> - @TempData["Error"] </span>
				</div>
			}
			<div class="inner-container">

				<!-- Contact Form -->
				<div class="contact-form">
					<form asp-action="Login">
						<div asp-validation-summary="ModelOnly" class="text-danger"></div>
						<div class="row clearfix">

							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label asp-for="Email">Email *</label>
								<input asp-for="Email" type="email" placeholder="Email" />
								<span asp-validation-for="Email" class="text-danger"></span>
							</div>
							<!-- Form Group -->
							<div class="form-group col-lg-6 col-md-6 col-sm-12">
								<label asp-for="Password" class="control-label">Password *</label>
								<input asp-for="Password" class="form-control" placeholder="Password" />
								<span asp-validation-for="Password" class="text-danger"></span>
							</div>

							<div class="form-group col-lg-12 col-md-12 col-sm-12">
								<div class="mb-4">
									<label>Not a user? <a asp-action="Register" class="m-lg-2">Register</a></label>

								</div>
								<div class="mb-4">
									<label>Forgot Password? <a asp-action="ForgotPassword" asp-controller="PasswordChange" class="m-lg-2">Forgot Password</a></label>

								</div>

								<button type="submit" class="theme-btn btn-style-one"><span class="txt">Login</span></button>
							</div>

						</div>
					</form>
				</div>
			</div>
		</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}

	}
