@{
    ViewData["Title"] = "Home Page";
}

<section class="page-header" style="background-image: url(/assets/images/backgrounds/page-header-contact.jpg);">
    <div class="container">
        <h2>Tours with Sidebar</h2>
        <ul class="thm-breadcrumb list-unstyled">
            <li><a href="index.html">Home</a></li>
            <li><span>Tours</span></li>
        </ul><!-- /.thm-breadcrumb -->
    </div><!-- /.container -->
</section><!-- /.page-header -->

<section class="tour-two tour-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                
                <div class="tour-two__single tour-one__single">
                    <div class="tour-two__image-wrap">
                        <div class="tour-one__image">
                            <img src="~/assets/images/tour/tour-2-1.jpg" alt="">
                            <a href="tour-details.html"><i class="fa fa-heart"></i></a>
                        </div><!-- /.tour-one__image -->
                    </div><!-- /.tour-two__image-wrap -->
                    <div class="tour-one__content">
                        <div class="tour-two__top">
                            <div class="tour-two__top-left">
                                <div class="tour-one__stars">
                                    <i class="fa fa-star"></i> 8.0 Superb
                                </div><!-- /.tour-one__stars -->
                                <h3><a href="tour-details.html">National Park 2 Days Tour</a></h3>
                            </div><!-- /.tour-two__top-left -->
                            <div class="tour-two__right">
                                <p><span>$1870</span> <br> Per Person</p>
                            </div><!-- /.tour-two__right -->
                        </div><!-- /.tour-two__top -->

                        <div class="tour-two__text">
                            <p>Lorem ipsum available isn but the majority have suffered alteratin in some or form
                                injected semper fames.</p>
                        </div><!-- /.tour-two__text -->
                        <ul class="tour-one__meta list-unstyled">
                            <li><a href="tour-details.html"><i class="far fa-clock"></i> 3 Days</a></li>
                            <li><a href="tour-details.html"><i class="far fa-user-circle"></i> 12+</a></li>
                            <li><a href="tour-details.html"><i class="far fa-map"></i> Los Angeles</a></li>
                        </ul><!-- /.tour-one__meta -->
                    </div><!-- /.tour-one__content -->
                </div><!-- /.tour-two__single -->

            </div><!-- /.col-lg-8 -->
            <div class="col-lg-4">
                <div class="tour-sidebar">
                    <div class="tour-sidebar__sorter-wrap">
                        
                        <div class="tour-sidebar__sorter-single">
                            <div class="tour-sidebar__sorter-top">
                                <h3>Transfer Summary</h3>
                                <button class="tour-sidebar__sorter-toggler"><i class="fa fa-angle-down"></i></button>
                                <!-- /.tour-sidebar__sorter-toggler -->
                            </div><!-- /.tour-sidebar__sorter-top -->
                            <div class="tour-sidebar__sorter-content">

                                <div class="tour-sidebar__sorter-inputs">
                                    <p>
                                        <input type="checkbox" id="cat-5" name="radio-group">
                                        <label for="cat-5">
                                            City Tours
                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="cat-4" name="radio-group">
                                        <label for="cat-4">HostedTours
                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="cat-3" name="radio-group">
                                        <label for="cat-3">Adventure Tours
                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="cat-2" name="radio-group">
                                        <label for="cat-2">Group Tours

                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="cat-1" name="radio-group">
                                        <label for="cat-1">
                                            Couple Tours
                                        </label>
                                    </p>
                                </div><!-- /.tour-sidebar__sorter-inputs -->
                            </div><!-- /.tour-sidebar__sorter-content -->

                        </div><!-- /.tour-sidebar__sorter-single -->
                        <div class="tour-sidebar__sorter-single">
                            <div class="tour-sidebar__sorter-top">
                                <h3>Duration</h3>
                                <button class="tour-sidebar__sorter-toggler"><i class="fa fa-angle-down"></i></button>
                                <!-- /.tour-sidebar__sorter-toggler -->
                            </div><!-- /.tour-sidebar__sorter-top -->
                            <div class="tour-sidebar__sorter-content">

                                <div class="tour-sidebar__sorter-inputs">
                                    <p>
                                        <input type="checkbox" id="duration-5" name="radio-group">
                                        <label for="duration-5">
                                            0 - 24 hours
                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-4" name="radio-group">
                                        <label for="duration-4">1 - 2 days

                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-3" name="radio-group">
                                        <label for="duration-3">2 - 3 days

                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-2" name="radio-group">
                                        <label for="duration-2">4 - 5 days


                                        </label>
                                    </p>
                                    <p>
                                        <input type="checkbox" id="duration-1" name="radio-group">
                                        <label for="duration-1">
                                            5 - 10 days
                                        </label>
                                    </p>
                                </div><!-- /.tour-sidebar__sorter-inputs -->
                            </div><!-- /.tour-sidebar__sorter-content -->

                        </div><!-- /.tour-sidebar__sorter-single -->

                    </div><!-- /.tour-sidebar__sorter-wrap -->
                </div><!-- /.tour-sidebar -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.tour-two -->