@model TransferDTO

@{
    ViewData["Title"] = "Home Page";
}

<style>
    .search-results-container {
        position: absolute; /* Adjust based on your layout */
        background-color: white;
        border: 1px solid #ddd;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        width: 500px; /* Adjust as needed */
        height: 300px; /* Adjust as needed */
        overflow-y: auto; /* Makes it scrollable */
        z-index: 1000; /* To ensure it's above other content */
    }



    /* Simple Switch Style */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #FFA801;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #FFA801;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        

</style>

<section class="banner-one" style="background-image: url(assets/images/backgrounds/banner-1-1-bg.jpg);">
    <div class="container">
        <h2>Find your <span>next tour</span></h2>
        <p>Where would you like to go?</p>
        <form asp-action="VehicleList" asp-controller="Vehicle" method="post" class="tour-search-one">
            <div class="tour-search-one__inner">
                <div class="tour-search-one__inputs">
                    <div class="tour-search-one__col">
                        <div class="tour-search-one__input-box">
                            <label for="place">From</label>
                            <input asp-for="FromPlace" type="text" placeholder="Enter keywords">
                            @* Container for Results *@
                            <div id="searchResults" class="search-results-container" style="display:none;">
                                @* Results will be loaded here dynamically *@
                            </div>
                            <input asp-for="FromPlaceID" type="hidden"/>
                        </div><!-- /.tour-search-one__input-box -->
                    </div><!-- /.tour-search-one__col -->

                    <div class="tour-search-one__col">
                        <div class="tour-search-one__input-box">
                            <label for="place">To</label>
                            <input asp-for="ToPlace" type="text" placeholder="Enter keywords">
                            @* Container for Results *@
                            <div id="searchResults1" class="search-results-container" style="display:none;">
                                @* Results will be loaded here dynamically *@
                            </div>
                            <input asp-for="ToPlaceID" type="hidden" />


                        </div><!-- /.tour-search-one__input-box -->
                    </div><!-- /.tour-search-one__col -->
                    
                    @* <div class="tour-search-one__input-box">
                        <label for="when">When</label>
                        <input type="text" placeholder="September" name="when" id="when">
                    </div><!-- /.tour-search-one__input-box --> *@

                    @* <div class="tour-search-one__input-box form-check">
                            <label class="form-check-label" for="flexCheckDefault">
                                Default checkbox</label>
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    </div><!-- /.tour-search-one__input-box --> *@

                  

                    <div class="tour-search-one__input-box">
                        <label for="when">When</label>
                        <input type="datetime-local" placeholder="September" name="when" id="when">
                    </div><!-- /.tour-search-one__input-box -->



                    <div class="tour-search-one__input-box">
                        <span>Round trip</span>
                        <label class="switch">
                    
                            <input type="checkbox" id="dateSwitch" onclick="toggleDatePicker()">
                            <span class="slider round"></span>
                        </label>
                        <input  type="datetime-local" id="datePicker" style="display:none;" />
                    </div>
                    <div class="tour-search-one__input-box form-group">

                        <label for="passengerNo">Passengers</label>
                        <select for="passengerNo" type="text" name="passengerNo">
                            <option style="display: none;" selected>Select an option</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                        </select>
                       
                   </div>


                </div><!-- /.tour-search-one__inputs -->
                <div class="tour-search-one__btn-wrap">
                    <button type="submit" class="thm-btn tour-search-one__btn">Find now</button>
                </div><!-- /.tour-search-one__btn-wrap -->
            </div><!-- /.tour-search-one__inner -->
        </form><!-- /.tour-search-one -->
    </div><!-- /.container -->
</section><!-- /.banner-one -->


<section class="features-one__title">
    <div class="container">
        <div class="block-title text-center">
            <p>Call our agents to book!</p>
            <h3>Tripo Award Winning and Top <br> Rated Tour Operator</h3>
        </div><!-- /.block-title -->
    </div><!-- /.container -->
</section><!-- /.features-one__title -->

<script>
    // Event delegation to handle clicks on search results
    $("#searchResults").on("click", ".search-result-item", function () {
        $("#FromPlace").val($(this).data("name"));
        $("#FromPlaceID").val($(this).data("id"));

        $("#searchResults").hide(); // Optionally hide the results after selection
    });

    $("#FromPlace").on("input", function () {
        var searchText = $(this).val();

        if (searchText.length > 3) {
            $.ajax({
                url: '@Url.Action("GetPlaceByName", "Home")',
                data: { name: searchText },
                type: 'GET',
                success: function (data) {
                    $("#searchResults").html(data).show();
                },
                error: function () {
                    // Handle errors here
                    $("#searchResults").html("<p>Error loading results.</p>").show();
                }
            });
        } else {
            $("#searchResults").hide();
        }
    });



    // Event delegation to handle clicks on search results
    $("#searchResults1").on("click", ".search-result-item", function () {
        $("#ToPlace").val($(this).data("name"));
        $("#ToPlaceID").val($(this).data("id"));

        $("#searchResults1").hide(); // Optionally hide the results after selection
    });

    $("#ToPlace").on("input", function () {
        var searchText = $(this).val();

        if (searchText.length > 3) {
            $.ajax({
                url: '@Url.Action("GetPlaceByName", "Home")',
                data: { name: searchText },
                type: 'GET',
                success: function (data) {
                    $("#searchResults1").html(data).show();
                },
                error: function () {
                    // Handle errors here
                    $("#searchResults1").html("<p>Error loading results.</p>").show();
                }
            });
        } else {
            $("#searchResults1").hide();
        }
    });

       function toggleDatePicker() {
            var checkBox = document.getElementById("dateSwitch");
            var datePicker = document.getElementById("datePicker");
            datePicker.style.display = checkBox.checked ? "block" : "none";
        }
</script>

